<header>
    <div class="title">
        <h1>MINYORE PORTF<span>OLIO PAGE</span></h1>
        <p>FRONT-END DEVELOPER</p>
    </div>

    <figure class="avatar">
        <img src="https://minyore.github.io/portfolio/src/assets/images/icon-avatar.jpg" alt="Profile" />
    </figure>

    <div class="about">
        <strong>about me</strong>
        <p>Hello, I introduce myself. I have been working as a publisher for 7 years, dreaming of becoming a front-end developer.</p>
    </div>
</header>

<footer>
    <ul class="social">
        <li>
            <a href="https://github.com/minyore" target="_blank" class="github">github</a>
        </li>
        <li>
            <a href="tel:010-8346-0225" class="phone">+8210-8346-0225</a>
        </li>
        <li>
            <a href="mailto:minyore@naver.com"class="email">minyore@naver.com</a>
        </li>
    </ul>
    <p class="copyright">Copyright 2016. MINYORE All rights reserved.</p>
</footer>