<div class="education">
    <strong class="title">Educations</strong>
    <ol class="lists">
        <li>
            <strong>(2010 - 2016) ANYANG UNIVERSITY</strong>
            <p>ANYANG UNIVERSITY COMPUTER ENGINEERING DEPARTMENT COMPLETION</p>
        </li>
        <li>
            <strong>(2016 - 2016) MINISTRY OF EMPLOYMENT</strong>
            <p>[NCS] INTERACTIVE WEB DESIGN COURSE COMPLETION</p>
        </li>
    </ol>
</div>

<div class="work">
    <strong class="title">Works</strong>
    <div class="swiper works">
        <ul class="lists swiper-wrapper">
            <li class="swiper-slide">
                <strong>WABE <br> (2023 ~ )</strong>
                <p>Web site renewal and maintenance operation</p>
                <p>Mobile web site renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label rank">Senior Manager</span>
                    <span class="label team">Front-End Team</span>
                </div>
            </li>
            <li class="swiper-slide">
                <strong>ANOTATION AI <br> (2022 - 2023)</strong>
                <p>Web site renewal and maintenance operation</p>
                <p>Mobile web site renewal and maintenance operation</p>
                <p>Web admin site construction and maintenance</p>
                <div class="labelGroup">
                    <span class="label rank">Manager</span>
                    <span class="label team">Front-End Team</span>
                </div>
            </li>
            <li class="swiper-slide">
                <strong>WEKEEP <br> (2022 - 2023)</strong>
                <p>Web site renewal and maintenance operation</p>
                <p>Mobile web site renewal and maintenance operation</p>
                <p>Web admin site construction and maintenance</p>
                <p>Mobile web admin site construction and maintenance</p>
                <div class="labelGroup">
                    <span class="label rank">Senior Manager</span>
                    <span class="label team">Publishing Team</span>
                </div>
            </li>
            <li class="swiper-slide">
                <strong>SOLIDEO SYSTEMS <br> (2016 - 2016)</strong>
                <p>Web site renewal and maintenance operation</p>
                <p>Mobile web site renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label rank">Assistant Manager</span>
                    <span class="label team">Design Team</span>
                </div>
            </li>
            <li class="swiper-slide">
                <strong>BLOOM TECHNOLOGY <br> (2016 - 2016)</strong>
                <p>Web site renewal and maintenance operation</p>
                <p>Mobile web site renewal and maintenance operation</p>
                <p>hybrid app construction and maintenance</p>
                <div class="labelGroup">
                    <span class="label rank">Assistant Manager</span>
                    <span class="label team">Publishing Team</span>
                </div>
            </li>
            <li class="swiper-slide">
                <strong>EFUSION I <br> (2016 - 2016)</strong>
                <p>Web site renewal and maintenance operation</p>
                <p>Mobile web site renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label rank">Associate</span>
                    <span class="label team">Publishing Team</span>
                </div>
            </li>
            <li class="swiper-slide">
                <strong>MEPLEZ <br> (2016 - 2016)</strong>
                <p>Web site renewal and maintenance operation</p>
                <p>Mobile web site renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label rank">Staff</span>
                    <span class="label team">Publishing Team</span>
                </div>                
            </li>                        
        </ul>
        <div class="swiper-scrollbar"></div>
    </div>    
</div>

<div class="project">
    <strong class="title">Projects</strong>
    <div class="swiper projects">
        <ul class="lists swiper-wrapper">
            <li class="swiper-slide">
                <strong>PULMUONE <br> (2023 ~ )</strong>
                <p>Web renewal and maintenance operation</p>
                <p>Mobile web renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label vue">vue.js</span>
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label git">git</span>
                </div>            
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://shop.pulmuone.co.kr/" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong>STARBUCK <br> (2016 - 2017)</strong>
                <p>Web renewal and maintenance operation</p>
                <p>Mobile web renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                </div>            
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.starbucks.co.kr/index.do" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong> ESPOIR <br> (2016 - 2017)</strong>
                <p>Web renewal and maintenance operation</p>
                <p>Mobile web renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>                
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                </div>            
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.espoir.com/ko/main.do" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong>THE FACE SHOP <br> (2017 - 2018)</strong>
                <p>Web renewal and maintenance operation</p>
                <p>Mobile web renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                </div>            
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.naturecollection.com/mall/brand.jsp?cate_seq=662" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong>NATURE COLLECTION <br> (2017 - 2018)</strong>
                <p>Web renewal and maintenance operation</p>
                <p>Mobile web renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                </div>            
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.naturecollection.com/mall/index.jsp" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong>LG HOUSEHOLD & HEALTH CARE <br> (2017 - 2018)</strong>
                <p>Web renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                </div>            
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.lghnh.com:984/index.jsp" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong>WOONGJIN COWAY <br> (2017 - 2018)</strong>
                <p>Web construction and maintenance operation</p>
                <p>Mobile web maintenance operation</p>
                <div class="labelGroup">
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                </div>            
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.coway.com/?utm_source=google_pc&utm_medium=sa&utm_campaign=coway&utm_term=%EC%9B%85%EC%A7%84%EB%A0%8C%ED%83%88&gclid=EAIaIQobChMI_5nbr_qWgAMV0UVgCh1ekQRoEAAYASAAEgLPafD_BwE" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong>DAEGYO CLOBAL <br> (2017 - 2018)</strong>
                <p>Web construction and maintenance operation</p>
                <p>Mobile web maintenance operation</p>
                <div class="labelGroup">
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                </div>            
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.daekyo.com/kr/index" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong>MAEILI <br> (2017 - 2018)</strong>
                <p>Web renewal and maintenance operation</p>
                <p>Mobile web renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                </div>            
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.maeili.com/main.do" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong>BUILDING ADMINISTRATION SYSTEM SEUMTEO <br> (2018 - 2019)</strong>
                <p>Web renewal and maintenance operation</p>
                <p>Mobile web renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label vue">vue.js</span>
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                    <span class="label git">git</span>
                </div>            
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.eais.go.kr/" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong>REGISTERED PRIVATE RENTAL HOUSING RENT HOME<br> (2018 - 2019)</strong>
                <p>Web renewal and maintenance operation</p>
                <p>Mobile web renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                </div>
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.renthome.go.kr/webportal/main/portalMainList.open" target="_blank" class="btnMore">Learn More</a>
            </li>
            <li class="swiper-slide">
                <strong>MY HOME<br> (2018 - 2019)</strong>
                <p>Web renewal and maintenance operation</p>
                <p>Mobile web renewal and maintenance operation</p>
                <div class="labelGroup">
                    <span class="label html">html</span>
                    <span class="label css">css</span>
                    <span class="label javascript">javascript</span>
                    <span class="label jquery">jquery</span>
                    <span class="label svn">svn</span>
                </div>
                <!-- <a href="javascript:void(0);" onclick="handleModalOpen()" class="btnMore">Learn More</a> -->
                <a href="https://www.myhome.go.kr/hws/portal/main/getMgtMainPage.do" target="_blank" class="btnMore">Learn More</a>
            </li>
        </ul>
        <div class="swiper-scrollbar"></div>
    </div>
</div>

<script>
//work swiper
var swiper = new Swiper(".works", {
    slidesPerView: "2",
    spaceBetween: 30,
    freeMode: true,
    grabCursor: true,
    autoplay: {
        delay: 5000,
    },
    scrollbar: {
        el: ".swiper-scrollbar",
        hide: true,
        draggable: true,
    },
    breakpoints: {
        1024: {
            slidesPerView: "2",
            spaceBetween: 30,
        },
        320: {
            slidesPerView: 1,
            spaceBetween: 0,
        },
    },    
});

//project swiper
var swiper = new Swiper(".projects", {
    slidesPerView: "2",
    spaceBetween: 30,
    freeMode: true,
    autoplay: {
        delay: 5000,
    },
    grabCursor: true,
    scrollbar: {
        el: ".swiper-scrollbar",
        hide: true,
        draggable: true,
    },
    breakpoints: {
        1024: {
            slidesPerView: "2",
            spaceBetween: 30,
        },
        320: {
            slidesPerView: 1,
            spaceBetween: 0,
        },
    },
});
</script>