
@charset "utf-8";

/**
* RESET CSS
*
* @author 김 민
*
**/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
  font-family: '나눔바른고딕', '맑은 고딕';
  font-size: 1rem;
  line-height: 1;
  min-width: 320px;
  overflow-x: hidden;
}

article, aside, figcaption, figure,
footer, header, nav, section { 
	display: block;
}

ul, li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: inherit;
  text-decoration: none;
  vertical-align: baseline;
  color: inherit;
  background: transparent;
}

img {
  max-width: 100%;
  vertical-align: top;
}


table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  vertical-align: middle;
  font-family: inherit;
  border-radius: 0; 
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
}

input, select {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-family: inherit;
  border-radius: 0; 
  box-sizing: content-box;
}

input::placeholder {
  font-family: inherit;
}

input + label {
  cursor: pointer;
}

legend, caption {
  overflow: hidden;
  width: 0;
  height: 0;
  text-indent: -9999px;
}

i, em {
  font-style: normal;
}

.hidden { 
  position: absolute; 
  left: -9999px; 
  font-size: 0; 
  width: 0; 
  height: 0; 
  text-indent: -9999px; 
  overflow: hidden; 
}

::selection { background-color: #fcce00; }

/* 웹폰트 CSS */
@font-face{ font-family:'나눔바른고딕'; src:url("../font/NanumBarunGothic.eot") }
@font-face{ font-family:'나눔바른고딕'; src:url("../font/NanumBarunGothic.woff") }

