
/**
 * @author 김 민
 */

.container {
    position: relative;
    width: inherit;
    height: inherit;
}
.portfolio {
    display: flex;
    max-width: 1340px;
    height: 100%;
}

.information {
    max-width: 340px;
    position: relative;
    background: #000;
    border: 1px solid #eaeefb;
}

.information .title {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.information .title h1 {
    color: #fff;
    font-size: 2.0rem;
}

.information .title p {
    color: #fafafa;
    font-size: 1.2rem;
}

.information .avatar {

}

.information .avatar img {
    height: 100%;
    object-fit: cover;
}

.information .about {
    padding: 40px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.information .about:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background: #fff;
}

.information .about strong {
    color: #fff;
    font-size: 1.6rem;
}
.information .about p {
    color: #fafafa;
}

.information footer {
    padding: 40px 30px;
}

.information .social {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.information .social a {
    display: flex;
    align-items: center;
    gap:0 10px;
    color: #fafafa;
}

.information .social a:before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.information .social .github:before {
    background: url(/src/assets/images/icon-github-dark.png) center no-repeat;
    background-size: 100% auto;
}

.information .social .github:hover:before {
    background: url(/src/assets/images/icon-github-light.png) center no-repeat;
    background-size: 100% auto;
}

.information .social .phone:before {
    background: url(/src/assets/images/icon-phone-light.png) center no-repeat;
    background-size: 100% auto;
}
.information .social .phone:hover:before {
    background: url(/src/assets/images/icon-phone-dark.png) center no-repeat;
    background-size: 100% auto;
}

.information .social .email:before {
    background: url(/src/assets/images/icon-email-light.png) center no-repeat;
    background-size: 100% auto;
}
.information .social .email:hover:before {
    background: url(/src/assets/images/icon-email-dark.png) center no-repeat;
    background-size: 100% auto;
}        

.information .copyright {
    margin: 20px 0 0;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
}

.contents {
    padding: 0 50px;
}

.contents strong {
    font-size: 1.8rem;
}

.contents .lists {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.contents .lists strong {
    font-size: 1.4rem;
}

.contents .lists p {
    margin: 10px 0 0;
    font-size: 1.0rem;
}
